.container {
  margin: 0 auto;
  max-width: 1256px;
  display: flex;
}
.header,
.footer {
  color: #fff;
  height: 55px;
  background-color: #0067a3;
}
.header-container,
.footer-container {
  height: inherit;
  justify-content: space-between;
  align-items: center;
}
.header-container h1,
.footer-tasks {
  margin: 0px;
  margin-left: 20px;
}

@media screen and (max-width: 1300px) {
  .container {
    flex-wrap: wrap;
  }
}
